h1{
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

.card-container{
  text-align: center;
  box-sizing: border-box;
}

.card{
  display: inline-block;
  width: 200px;
  height : 300px;
  border: 1px solid gray;
  text-align: center;
  margin-top: 5px;
}

.card img{
  width: 180px;
  border: 1px solid lightgray;
  margin-top: 10px;
}
